#about {
    padding: 100px 0;
}
#about h3 {
    font-size: 22px;
    margin: 0 0 20px;
}
#about h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#about h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #07b592 30%, #28fca1 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
}
#about .about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
}
#about .about-text li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    color:  #00bdaf;
    font-size: 11px;
    font-weight: 300;
    padding-right: 8px;
}
#about p {
    line-height: 24px;
    margin: 30px 0;
}
